$blue:				#C7EDFF;
$yellow:			#FFC758;
$textcol:			#2f3133;
$black:				#2a2c2e;
$darkgrey:		#313335;
$midgrey:			#828385;
$lightgrey:		#ecedf0;
$gotham:			"Gotham Cond SSm A","Gotham Cond SSm B",Impact;
$mobile: 			767px;
$tablet:			991px;
$desktop:			992px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import "reset";

body {
	height: 100%;
	background: #fff;
	text-align: left;
	color: $textcol;
	line-height: 1.3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 4px $yellow solid;
}
/* Type */
h1, h2, h3, h4 {
	font-family: $gotham;
	font-weight: 600;
	text-transform: uppercase;
}
h1 {
  font-size: 70px;
	letter-spacing: -.015em;
	margin-bottom: 1em;
	line-height: .7;
}
p {
  font-size: 16px;
	margin-bottom: 1em;
	letter-spacing: -.007em;
}
/* Header */
.header-inner {
	max-width: 400px;
	@media (min-width: $mobile) {
		margin: 0 auto;
    max-width: 1200px;
	}
}
#header {
	width: 100%;
	overflow: hidden;
	@include clearfix;
	svg {
		width: 59px;
		height: 59px;
		@media (min-width: $mobile) {
			width: 61px;
			height: 61px;
		}
	}
	h1 {
	  font-size: 38px;
		margin-bottom: .15em;
		float: left;
		padding-top: 26px;
		@media (min-width: $mobile) {
		  font-size: 56px;
			padding-top: 60px;
		}
	}
	p {
		font-family: $gotham;
		color: $midgrey;
		font-size: 16px;
		line-height: 1.4;
    letter-spacing: .01em;
    text-transform: uppercase;
    margin-bottom: 1.3em;
		@media (max-width: 374px) {
			font-size: 14px;
      letter-spacing: 0;
		}
	}
	.logo, {
		float: left;
		margin: 16px 8px 0 15px;
		@media (min-width: $mobile) {
			margin: 44px 12px 0 40px;
		}
	}
	.location {
		margin-left: 6px;
		@media (min-width: $mobile) {
			display: block;
    	margin-left: 0;
		}
	}
	.date-wrap {
		float: left;
		@media (min-width: $mobile) {
			float: right;
			position: relative;
			width: 25%;
			padding-top: 62px;
			&:after {
				content: ' ';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 999em;
				height: 6px;
				background: $black;
			}
		}
	}
}
.sticky-nav svg {
	width: 37px;
	height: 37px;
	@media (min-width: $mobile) {
		width: 45px;
		height: 45px;
	}
}

/* Countdown */


/* Layout */


/* Timeline */



/* Footer */






/* Plugin styles */
#clockdiv{
	font-family: $gotham;
	display: inline-block;
	text-align: center;
	font-size: 70px;
  width: 100%;
  @media (min-width: $mobile) {
    font-size: 180px;
  }
}

#clockdiv > div{
	padding: 10px;
	display: inline-block;
}

#clockdiv div > span{
	display: inline-block;
}
.smalltext{
	padding-top: 5px;
	font-size: 18px;
  color: $midgrey;
  text-transform: uppercase;
  @media (min-width: $mobile) {
    font-size: 20px;
  }
}

/* Fonts */
@import "fonts";
